{% extends "base.html" %}

{% block content %}
  <h1>Previous Matches</h1>
  <p>
    The list below shows your previous matches.
  </p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pear-Up</th>
          <th>Date</th>
          <th>Member</th>
        </tr>
      </thead>
      <tbody>
        {% for m in matches %}
          <tr>
            <td>{{ m.Pearup.Name }}</td>
            <td title="{{ m.Pearup.EndDate }}">
              {{ m.Pearup.EndDate|naturaltime }}
            </td>
            <td>
              {% if m.User1.ID == user.ID %}
                {% set u = m.User2 %}
              {% else %}
                {% set u = m.User1 %}
              {% endif %}
              <img src="/media/{{ u.Picture }}" class="pearup thumb">
              &nbsp;
              {% if u.Link %}<a href="{{ u.Link }}" target="_blank">{% endif %}
              {{ u.Name }}
              {% if u.Link %}</a>{% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">
              <div class="text-muted text-center">
                No previous matches
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
