{% extends "base.html" %}

{% block content %}
  <h1>Privacy Policy</h1>
  <p>
    Your privacy is important to us.
  </p>
  <p class="text-muted">
    This web application stores information provided by Facebook, Google, and/or Microsoft's APIs immediately after authorization. This may include (but is not limited to) your name, email address, and profile picture. This information is only used for the purposes of authenticating users and providing the services available through the website.
  </p>
  <p class="text-muted">
    We will never give or sell this information to a third-party for any reason.
  </p>
  <p class="text-muted">
    This website uses cookies to facilitate authentication and session management. We do not use cookies for tracking.
  </p>
  <h4>Deletion</h4>
  <p class="text-muted">
    We provide <a href="/profile/delete">a page for account deletion</a> for users who wish to delete all of the personal data imported during login* and the profile information entered on this website.
  </p>
  <p class="text-muted small">
    *for the safety of others, your login ID will be preserved to ensure that future logins do not result in new accounts being created
  </p>
{% endblock %}
