{% extends "base.html" %}

{% block content %}
  <h1>Privacy Policy</h1>
  <p>
    Your privacy is important to us.
  </p>
  <p class="text-muted">
    This web application stores information provided by Facebook, Google, and/or Microsoft's APIs immediately after authorization. This may include (but is not limited to) your name, email address, and profile picture. This information is only used for the purposes of authenticating users and providing the services available through the website.
  </p>
  <p class="text-muted">
    We will never give or sell this information to a third-party for any reason.
  </p>
  <p class="text-muted">
    This website uses cookies to facilitate authentication and session management. We do not use cookies for tracking.
  </p>
{% endblock %}
