{% extends "base.html" %}

{% block content %}
  <h1>Pear-Ups</h1>
  <p class="text-muted">
    The table below shows all pear-ups, past and present.
  </p>
  <p>
    You may register to participate in any active pear-up listed below. Once the end date is reached, each participant is automatically paired with another user.
  </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>End date</th>
        <th>Is complete?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for p in pearups %}
        <tr>
          <td>{{ p.Name }}</td>
          <td>
            <span data-toggle="tooltip" data-placement="top" title="{{ p.EndDate }}">
              {{ p.EndDate|naturaltime }}
            </span>
          </td>
          <td>
            {% if p.IsComplete %}
              <span class="text-success fa fa-check"></span>
            {% else %}
              <span class="text-danger fa fa-times"></span>
            {% endif %}
          </td>
          <td class="text-right">
            <a href="/pearups/{{ p.ID }}" class="btn btn-sm btn-primary">
              <span class="fa fa-search"></span>
              View
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
